.sidebar {
    flex: 0.25;
    display: flex;
    height: 100vh;
    flex-direction: column;
    border-right: 1px solid rgba(190,190,190,0.1);
    background-color: #1f304e;
}

.sidebar__header {
    display: flex;
    height: 50px;
    padding: 10px;
    align-items: center;
}

.sidebar__search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: #2d4671;
    color: white;
    border-radius: 5px;
    padding: 2px;
}

.sidebar__input {
    border: none;
    outline: none;
    color: white;
    flex: 1;
    background-color: transparent;
}

#sidebar__button {
    color: white !important;
    margin-left: 5px;
    position: relative;
}

#sidebar__button:hover {
    color: rgba(2, 150, 199, 0.5) !important;
    background-color: #1b2b46;
}

#sidebar__button:hover::before {
    content: attr(data-text);
    position: absolute;
    left: -70px;
    bottom: -5px;
    color: white;
    font-size: 10px;
    background-color: black;
    padding: 5px;
    border-radius: 2px;
    animation: scaleIt 0.2s 1 linear;
}

@keyframes scaleIt {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.sidebar__threads {
    overflow: scroll;
    flex: 1;
}

.sidebar__threads::-webkit-scrollbar {
    display: none;
}

.sidebar__bottom {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 20px;
    border-top: 1px solid rgba(190,190,190,0.1);
}

.sidebar__bottom__avatar:hover {
    cursor: pointer;
    opacity: 0.5;
}

.sidebar__bottom > button {
    color: white;
}

.sidebar__bottom > button:hover {
    color: rgba(2, 150, 199,0.5);
    background-color: #1b2b46;
}

#exit {
    position: relative;
}

#exit:hover::before {
    content: attr(data-text);
    position: absolute;
    left: -10px;
    top: -15px;
    color: white;
    font-size: 10px;
    background-color: black;
    padding: 5px;
    border-radius: 2px;
    animation: scaleIt 0.2s 1 linear;
} 